<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head :: head" xmlns:th="http://www.thymeleaf.org"></head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-dark">
                <div th:if="${currentQuestion == numberOfQuestions}">
                    <div th:with="result=${currentQuestion + 1}">
                        <form th:action="@{|/tests/${test.id}/finish|}" method="get">
                    </div>
                </div>
                <div th:if="${currentQuestion < numberOfQuestions}">
                    <div th:with="result=${currentQuestion + 1}">
                        <form th:action="@{|/tests/${test.id}/${result}|}" method="get">
                    </div>
                </div>
                <tr>
                    <th th:text="${test.content}"></th>
                    <th th:text="'Question: ' + ${currentQuestion} + ' of ' + ${numberOfQuestions}"></th>
                </tr>
                <tr>
                    <th th:text="${test.description}"></th>
                    <th></th>
                </tr>
                <tr>
                    <th th:if="${question}"
                        th:text="${question.content}"></th>
                    <th>Select answer</th>
                </tr>
                <tr th:each="answer : ${answers}">
                    <th th:text="${answer.content}"></th>
                    <th>
                        <input type="radio" th:value="${answer.id}" th:name="appointedAnswer" th:id="appointedAnswer"/>
                    </th>
                </tr>
                <tr>
                    <th></th>
                    <th>
                        <div th:if="${currentQuestion < numberOfQuestions}">
                            <div th:with="result=${currentQuestion + 1}">
                                <form th:action="@{|/tests/${test.id}/${result}|}" method="get">
                                    <input type="submit" value="Next" style="float: right;"/>
                                </form>
                            </div>
                        </div>
                        <div th:if="${currentQuestion == numberOfQuestions}">
                            <form th:action="@{|/tests/${test.id}/finish|}" method="get">
                                <input type="submit" value="Finish" style="float: right;"/>
                            </form>
                        </div>
                    </th>
                </tr>
                </form>
            </table>
        </div>
    </div>
</div>
</body>
</html>